html {
  scroll-behavior: smooth;
}
/*div { 
  border: solid red 1px;
}*/

body {
  /*max-width: 70vw; To make it more responsive, used vw (viewport width), to be the 70% (this way I set the margins)*/ /*didn't use it, because the assignment was with no margin*/
  height: 100vh;  /*viewport height*/
  margin: auto;
  /* overflow: hidden; this doesn't let the page scroll down when the content overflows the viewport height */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}


/*style*/

.header, 
.containerone {
background-color: #1f2937;
padding: 0 10%; /*I set the side padding in % so it's responsive, if not is a fixed size */
display: flex;
align-items: center;
}

.header {
  justify-content: space-between;
}

.awesometitle { 
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.awesometext,
a {
font-size: 18px;
color: #E5E7EB;
/* this removes the line under the links */
text-decoration: none;
}

.awesometext{
  margin: 20px 0;
}
.containeroneleft {
  margin-right: 10px;
}

.containeroneright {
    display: inline-flex;
    background-color: rgb(129, 129, 129);
}

/* Set containers to the same responsive size*/
.containeroneleft,
.containeroneright {
  flex: 1 0 0%; /* To space evenly the container: flex-basis: 0%; (until this, containeroneleft overflowed Rick and took more space. With 0% I'm telling to ignore it's original width and height, making both containers evenly, start from the same basis*/
  height: 50%; /* Both containers occupy the 50% height of the container, making them evenly height. Could be any metric */
  justify-content: center;
}


/*RANDOM*/
.random,
.containerthree {
  display: flex;
  flex-direction: column; 
  padding: 4% 15%;
}

.randomtitle {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  padding: 16px;
  text-align: center;
  margin-bottom: 16px;
}
.randomimg {
  width: 95%;
  border: solid 4px #3882f6;
  border-radius: 8px; /*to make the border corner rounded*/
  display: flex;
  flex: 1 0 0%;
  margin: auto; /*to center*/
}

.random-content {
  display: flex;
  align-items: center;  
  gap: 4%;
  justify-content: center;
}
.randomsubtext {
  text-align: center;
}

/*quote*/
.containertwo {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-weight: light;
  color: #1F2937;
}

.cite {
  text-align: right;
  padding: 10px 0;
}

/*ACTION*/

button,
.action { 
  background-color: #3882f6;
} 

.action {
    padding: 4% 8%;
    /*I set the side padding in % so it's responsive, if not is a fixed size */
    display: flex;
    color: #F9FAF8;
    border-radius: 8px;
    justify-content: space-between;
    margin: 5% 10%;
}
.call {
  font-size: larger;
  font-weight: bold;
}
.callsubtext {
  align-self: flex-start;
}
button {
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px 0;
    color: #F9FAF8;
  }

.signuptwo {
  border: solid 1px #F9FAF8;
}

.footer {
  background-color: #1f2937;
  text-align: center;
  padding: 20px 0;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 16px;
}
