html {
  scroll-behavior: smooth;
}
div { 
  border: solid red 1px;
}

body {
  max-width: 900px;
  height: 100vh; /* viewport height*/
  margin: auto;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 300px;
  height: auto;
  flex-shrink: 0;
}

/*style*/

.header, 
.containerone,
.footer {
background-color: #1f2937;
padding: 0px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.containeroneleft { 
/*max-width: 400px;*/
padding: 16px;
display: flex;
flex-direction: column;
align-items: flex-start ;
}

.awesometitle { 
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.awesometext,
a {
font-size: 18px;
color: #E5E7EB;
/* this removes the line under the links */
  text-decoration: none;
}

.containertwo  {
  background-color: #e5e7eb;
}

/*RANDOM*/

.randomtitle {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  padding: 16px;
  text-align: center;
}

.quote {
  font-size: 36px;
  font-weight: light;
  color: #1F2937;
}

button,
.action { 
  background-color: #3882f6;
} 

button {  
  font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px;
    margin: 8px 0;
}

/*header*/

.header,
.footer {
  height: 50px;
  display: flex;
  align-items: center;
}
.footer { 
  justify-content: center;
}

.containerone, .random, .containertwo, {
  display: flex;
  height: 300px;
  align-items: space-between;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}
